<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.plus.code.ActivationCodeMapper">

    <select id="getSumPrice" resultType="java.math.BigDecimal">
        SELECT IFNULL(sum(price), 0) FROM activation_code t
        <where>
            t.user_id=#{userId}
        </where>
    </select>

</mapper>
