<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.plus.envelop.RedEnvelopMapper">

    <select id="getSendAmount" resultType="java.math.BigDecimal">
        SELECT SUM(re.`amount`) FROM  red_envelop_item ri
        INNER JOIN red_envelop_record re ON re.`envelop_item_id`=ri.`id`
        <where>
            1=1
            <if test="redEnvelopId!=null">
                 and ri.`envelop_id`=#{redEnvelopId}
            </if>
        </where>
    </select>
</mapper>