<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.plus.user.UserMessageGiftPlusMapper">

    <select id="findRecent" resultType="com.csgo.domain.plus.user.UserMessageGiftPlus">
        select *
        from user_message_gift
        where gift_type != #{excludeGiftType} and gift_product_id in
        <foreach collection="giftProductIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        order by ct desc
        limit 0,30
    </select>

    <delete id="deleteBeforeTime">
        DELETE `user_message_gift`
        FROM user_message_gift
        LEFT JOIN `user` ON `user_message_gift`.`user_id` = `user`.`id`
        WHERE
        `user_message_gift`.state IN (1,2)
        AND `user`.`flag`=#{flag} AND `user_message_gift`.`ct` <![CDATA[<=]]> #{beforeTime}
    </delete>
</mapper>