<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="serviceName" value="admin"/>
    <property name="logPath" value="logs"/>
    <property name="rootLogFileName" value="${logPath}/${serviceName}.log"/>
    <property name="actionLogFilename" value="${serviceName}.action.log"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <file>${rootLogFileName}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${serviceName}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss,CTT} [%X{MDC_REQUEST_ID} ] ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } -&#45;&#45; [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="consumer" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${logPath}/consumer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/consumer.log.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss,CTT} [%X{MDC_REQUEST_ID} ] ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } -&#45;&#45; [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="trace" class="com.echo.framework.support.log.trace.TraceAppender">
        <logFolder>${logPath}</logFolder>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy/MM/dd HH:mm:ss,CTT} [%-5p] %t [%X{MDC_REQUEST_ID} - %C] %m%n</pattern>
        </layout>
    </appender>

    <appender name="action" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${actionLogFilename}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${actionLogFilename}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!--180day-->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="trace"/>
    </root>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.http" level="DEBUG"/>
    <logger name="org.springframework.context.annotation.ConfigurationClassBeanDefinitionReader" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.bean" level="ERROR"/>
    <logger name="org.springframework.context" level="ERROR"/>
    <logger name="org.xnio" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="io.undertow" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.dozer" level="ERROR"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.sqltiming" level="OFF"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="com.minlia" level="DEBUG"/>
    <logger name="com.minlia.cloud" level="OFF"/>
    <logger name="com.zaxxer.hikari" level="OFF"/>
    <logger name=" javax.management" level="OFF"/>
    <logger name="org.springframework.cache" level="DEBUG"/>
    <logger name="org.springframework.support" level="DEBUG"/>
    <logger name="org.springframework.context.annotation" level="ERROR"/>
    <logger name="org.springframework.cache.interceptor" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="com.hazelcast" level="INFO"/>
    <logger name="org.aopalliance.intercept" level="DEBUG"/>
    <logger name="org.apache.http.impl.conn" level="ERROR"/>
    <logger name="org.apache.http.wire" level="ERROR"/>
    <logger name="com.echo.framework.support.log.action.ActionLogger" level="DEBUG" additivity="false">
        <appender-ref ref="action"/>
    </logger>
    <logger name="com.csgo.mq.consumer" level="DEBUG" additivity="false">
        <appender-ref ref="consumer"/>
    </logger>

</configuration>
