<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.csgo.domain.user.AdminUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="ct" property="ct" jdbcType="TIMESTAMP"/>
        <result column="ut" property="ut" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_type, username, password, name, sex, role_id, role_name, ct, ut
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from admin_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectOne" parameterType="com.csgo.domain.user.AdminUser" resultMap="BaseResultMap">
        select * from admin_user
        <where>
            1 = 1
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userType != null">
                AND user_type = #{userType,jdbcType=INTEGER}
            </if>
            <if test="username != null">
                AND username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                AND password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                AND sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null">
                AND flag = #{flag,jdbcType=INTEGER}
            </if>
            <if test="roleName != null">
                AND created_at = #{createdAt,jdbcType=VARCHAR}
            </if>

            <if test="ct != null">
                AND ct = #{ct,jdbcType=DATE}
            </if>
            <if test="ut != null">
                AND ut = #{ut,jdbcType=DATE}
            </if>
        </where>
        limit 0,1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from admin_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csgo.domain.user.AdminUser" useGeneratedKeys="true" keyProperty="id">
        insert into admin_user (id, username, password,
                                name, sex, role_id,
                                role_name, ct)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER},
                #{roleName,jdbcType=VARCHAR}, NOW())
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csgo.domain.user.AdminUser">
        update admin_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="ct != null">
                ct = #{ct,jdbcType=TIMESTAMP},
            </if>
            <if test="ut != null">
                ut = #{ut,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectList" parameterType="com.csgo.domain.user.AdminUser" resultMap="BaseResultMap">
        select * from admin_user
        <where>
            1=1
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                and sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId,jdbcType=INTEGER}
            </if>
            <if test="roleName != null">
                and role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="ct != null">
                and ct = #{ct,jdbcType=TIMESTAMP}
            </if>
            <if test="ut != null">
                and ut = #{ut,jdbcType=TIMESTAMP}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
        </where>
        order by ct desc
    </select>

    <select id="selectListByDataScope" parameterType="com.csgo.domain.user.AdminUser"
            resultType="com.csgo.domain.report.AdminUserDTO">
        select
         id as adminUserId,
         name
        from
        admin_user adminUser
        where
            1 = 1
        ${dataScope}
    </select>
</mapper>