<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.BlindBoxTypeMapper">
    <resultMap id="BaseResultMap" type="com.csgo.domain.BlindBoxType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="sort_id" property="sortId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name,add_time, update_time, sort_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from blind_box_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from blind_box_type
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.csgo.domain.BlindBoxType">
        update blind_box_type
        <set>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="ct != null">
                ct = #{ct,jdbcType=TIMESTAMP},
            </if>
            <if test="ut != null">
                ut = #{ut,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csgo.domain.BlindBoxType">
        update blind_box_type
        set img  = #{img,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            type = #{type,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=INTEGER},
            ct   = #{ct,jdbcType=TIMESTAMP},
            ut   = #{ut,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectOne" parameterType="com.csgo.domain.BlindBoxType" resultMap="BaseResultMap">
        select * from blind_box_type
        <where>
            1=1
            <if test="img != null">
                and img = #{img,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="ct != null">
                and ct = #{ct,jdbcType=TIMESTAMP}
            </if>
            <if test="ut != null">
                and ut = #{ut,jdbcType=TIMESTAMP}
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </where>
        order by sort desc,ct desc limit 0,1
    </select>

    <select id="selectList" parameterType="com.csgo.domain.BlindBoxType" resultMap="BaseResultMap">
        select * from blind_box_type
        <where>
            1=1
            <if test="img != null">
                and img = #{img,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="ct != null">
                and ct = #{ct,jdbcType=TIMESTAMP}
            </if>
            <if test="ut != null">
                and ut = #{ut,jdbcType=TIMESTAMP}
            </if>
            <if test="sort != null">
                and sort = #{sort,jdbcType=INTEGER},
            </if>
        </where>
        order by sort desc,ct desc
    </select>


    <select id="selectAllType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blind_box_type
        order by sort_id desc,update_time desc
    </select>


    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from blind_box_type
        where name = #{name,jdbcType=INTEGER}
    </select>

</mapper>