<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.CustomerServiceMapper">
    <resultMap id="BaseResultMap" type="com.csgo.domain.CustomerService">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="QQ" property="qq" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="ct" property="ct" jdbcType="TIMESTAMP"/>
        <result column="up" property="up" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, QQ, phone, ct, up,status,img
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from customer_service
        where id = #{id,jdbcType=INTEGER}

    </select>
    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer_service
        order by ct desc
    </select>

    <select id="queryAllLimit" parameterType="com.csgo.domain.CustomerService" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer_service
        order by ct desc
        limit #{pageNum},#{pageSize}
    </select>
    <select id="selectOne" resultType="com.csgo.domain.CustomerService">

        select * from customer_service
        <where>
            1 = 1
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="qq != null">
                AND QQ = #{qq,jdbcType=VARCHAR}
            </if>

            <if test="phone != null">
                AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="ct != null">
                AND ct = #{ct,jdbcType=DATE}
            </if>
            <if test="up != null">
                AND up = #{ut,jdbcType=DATE}
            </if>

            <if test="status != null">
                AND status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="img != null">
                AND img = #{img,jdbcType=VARCHAR}
            </if>


        </where>
        limit 0,1

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from customer_service
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csgo.domain.CustomerService">
        insert into customer_service (id, name, QQ,
                                      phone, ct, up, status, img)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{ct,jdbcType=TIMESTAMP}, #{up,jdbcType=TIMESTAMP},
                #{status,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.csgo.domain.CustomerService">
        insert into customer_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="qq != null">
                QQ,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="ct != null">
                ct,
            </if>
            <if test="up != null">
                up,
            </if>
            <if test="status != null">
                status,
            </if>

            <if test="img != null">
                img,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="ct != null">
                #{ct,jdbcType=TIMESTAMP},
            </if>
            <if test="up != null">
                #{up,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="up != null">
                #{img,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csgo.domain.CustomerService">
        update customer_service
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                QQ = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="ct != null">
                ct = #{ct,jdbcType=TIMESTAMP},
            </if>
            <if test="up != null">
                up = #{up,jdbcType=TIMESTAMP},
            </if>

            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csgo.domain.CustomerService">
        update customer_service
        set name   = #{name,jdbcType=VARCHAR},
            QQ     = #{qq,jdbcType=VARCHAR},
            phone  = #{phone,jdbcType=VARCHAR},
            up     = #{up,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>