<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csgo.mapper.UserBalanceMapper">


    <insert id="add" parameterType="com.csgo.domain.user.UserBalance">
        insert into user_balance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userBalance.balanceNumber != null and userBalance.balanceNumber != ''">
                balance_number,
            </if>
            <if test="userBalance.userId != null">
                user_id,
            </if>
            <if test="userBalance.amount != null">
                amount,
            </if>
            <if test="userBalance.diamondAmount != null">
                diamond_amount,
            </if>
            <if test="userBalance.currentAmount != null">
                current_amount,
            </if>
            <if test="userBalance.currentDiamondAmount != null">
                current_diamond_amount,
            </if>
            <if test="userBalance.type != null">
                type,
            </if>
            <if test="userBalance.remark != null and userBalance.remark != ''">
                remark,
            </if>
            add_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userBalance.balanceNumber != null and userBalance.balanceNumber != ''">
                #{userBalance.balanceNumber,jdbcType=VARCHAR},
            </if>
            <if test="userBalance.userId != null">
                #{userBalance.userId,jdbcType=INTEGER},
            </if>
            <if test="userBalance.amount != null">
                #{userBalance.amount,jdbcType=DECIMAL},
            </if>
            <if test="userBalance.diamondAmount != null">
                #{userBalance.diamondAmount,jdbcType=DECIMAL},
            </if>
            <if test="userBalance.currentAmount != null">
                #{userBalance.currentAmount,jdbcType=DECIMAL},
            </if>
            <if test="userBalance.currentDiamondAmount != null">
                #{userBalance.currentDiamondAmount,jdbcType=DECIMAL},
            </if>
            <if test="userBalance.type != null">
                #{userBalance.type,jdbcType=INTEGER},
            </if>
            <if test="userBalance.remark != null and userBalance.remark != ''">
                #{userBalance.remark,jdbcType=VARCHAR},
            </if>
            NOW()
        </trim>
    </insert>


    <select id="pageList" resultType="com.csgo.domain.user.UserBalance">
        SELECT ub.id,ub.balance_number balanceNumber,ub.amount,ub.diamond_amount diamondAmount,ub.current_amount
        currentAmount,ub.current_diamond_amount currentDiamondAmount,
        ub.type,ub.remark,ub.add_time addTime,u.`name` FROM user_balance ub INNER JOIN `user` u ON ub.user_id = u.id
        <where>
            <if test="keywords != null and keywords != ''">
                AND (u.name LIKE CONCAT('%',#{keywords},'%') OR ub.balance_number LIKE CONCAT('%',#{keywords},'%') )
            </if>
            <if test="start_time != null">
                AND unix_timestamp(ub.add_time) > #{start_time}
            </if>
            <if test="end_time != null">
                AND #{end_time} > unix_timestamp(ub.add_time)
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
        ORDER BY ub.id DESC
    </select>

    <select id="getFrontPage" resultType="com.csgo.domain.user.UserBalance">
        SELECT ub.id,ub.balance_number balanceNumber,ub.amount,ub.diamond_amount diamondAmount,ub.current_amount
        currentAmount,ub.current_diamond_amount currentDiamondAmount,
        ub.type,ub.remark,ub.add_time addTime,u.`name` FROM user_balance ub INNER JOIN `user` u ON ub.user_id = u.id
        <where>
            user_id = #{userId}
            <if test="startDate != null">
                AND ub.add_time >= #{startDate}
            </if>
        </where>
        ORDER BY ub.id DESC
    </select>

</mapper>
